# Copyright (c) 2020, NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_RT_SUPER
	bool "RT Super Monkey"
	depends on SOC_SERIES_IMX_RT6XX
	select SOC_PART_NUMBER_MIMXRT685SFVKB
	select NXP_IMX_RT6XX_BOOT_HEADER if !BOOTLOADER_MCUBOOT
